@font-face {
    font-family: Virgil;
    src: url(fonts/Virgil.woff2) format('woff2');
}
.container{
    width: 700px;
    height: 100%;
    background-color: crimson;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    border-color: rgb(107, 25, 59);
    border-width: 5px;
    border-style: solid;
}

.line{
    border-color: black;
}
.card{
    width: 95%;
    height: 45%;
    background-color:rgb(240, 200, 215);
    border-radius: 25px;
    padding: 15px;
    border-color: rgb(107, 25, 59);
    border-width: 3px;
    border-style: solid;
}

p, li{
    font-size: 15px;
    font-family: Virgil;
}
h1,h2,h3{
    font-family: Virgil;
    font-weight: bold;
}
.pfp{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}